body {
    font: caption;
}

.wrap {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 60px;
}

header {
    height: 0px;
}

aside {
    padding: 1rem 0.75rem;
}

footer {
    box-sizing: border-box;
    height: 60px;
    padding: 1rem 0.75rem;
    border-top: 1px silver;
    background: #efefef;
    color: silver;
}

.todoList {
    margin: 0px;
    list-style: none;
}

.todo-item {
    background: none;
    padding: 0.5rem;
    margin: 0;
    cursor: pointer;
    font-size: 1rem;
    box-sizing: border-box;
    border: 1px dotted rgba(0,0,0,0);
  }
  
  .todo-item:nth-child(even) {
    background: #fafaff;
  }
  
  .todo-item:hover {
    /* background: #fefefe; */
    border: 1px dashed #cee2d3;
  }